
<!DOCTYPE html>
<html lang="en">
{% load pwa %}
<head>
    {% progressive_web_app_meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mis Perris</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/Estilos.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
    <script src="{% static 'core/js/jquery.validate.min.js' %}" ></script>
    <script src="{% static 'core/js/validaciones.js' %}"></script>
    <script src="{% static 'core/js/inicializacion.js' %}"></script>

    
</head>
<body>
    <header>
        <img class="logo" src="{% static 'core/img/logo.png' %}" alt="Logo">
    <ul class="navegacion">
       <li>
           <a href="{% url 'home' %}">Inicio</a>
       </li>
       
        {% if request.user.is_authenticated  %}

        <li>
            <a href="{% url 'logout' %}">Salir</a>
        </li>   
        <li>
            <a href="{% url 'mascotas' %}">Mascota</a>
        </li>  
        <li>
            <a href="{% url 'listado_mascotas' %}">Administracion</a>
        </li>   
        

        {% else %}   
        
        <li>
                <a href="#">quienes somos</a>
            </li>
        <li>
            <a href="{% url 'login' %}">Mascota</a>
        </li>
        {% endif %}
        <li>
            <a href="{% url 'formulario' %}">contactenos</a>
        </li>

    </ul>
    
    </header>
    {% if request.user.is_authenticated %}
    {% endif %}
    <div class="landing">
        <div class="slider">
            <div><img class="landing_image" src="{% static 'core/img/perro.png' %}" alt="imagen"></div>
            <div class="contenedor">
                    <img class="landing_image" src="{% static 'core/img/Apolo.jpg' %}" alt="apolo">
                    <div class="texto-encima">Estamos super felices <br> de tener a Apolo en <br> casa. es un fiel <br> compañero</div>
                  </div>
            <div class="contenedor">
                <img class="landing_image" src="{% static 'core/img/Duque.jpg' %}" alt="duque" >
                <div class="texto-encima" style="color: white;" >Estamos super felices <br> de tener a Duque en <br> casa. es un fiel <br> compañero</div>
            </div>
            <div class="contenedor">
                    <img class="landing_image" src="{% static 'core/img/Tom.jpg' %}" alt="tom">
                    <div class="texto-encima">Estamos super felices <br> de tener a Tom en <br> casa. es un fiel <br> compañero</div>
            </div>
    </div>
        
        <h3 class="eslogan"> + 56 9 98765431  </h3>
        <h3 class="eslogan_2">Rescate y adopcion de perros callejeros</h3>
        <ul class="social"> 
            <li><img src="{% static 'core/img/socialfacebook.png' %}" alt="{% static 'core/img/socialfacebook.png' %}"></li>
            <li><img src="{% static 'core/img/socialplus.png' %}" alt="{% static 'core/img/socialplus.png' %}"></li>
            <li><img src="{% static 'core/img/social-inst.png' %}" alt="{% static 'core/img/social-inst.png' %}"></li>
            <li><img src="{% static 'core/img/social-twitter.png' %}" alt="{% static 'core/img/social-twitter.png' %}"></li>
        </ul>
    </div>
<div class="contenido">
    {% block contenido %}
    
    {% endblock contenido %}
    
</div> 


</body>
</html>