{% extends 'core/base.html' %}
{% load static %}
{%  block contenido %}
<div class="juntar">
    <div class="provar">
        <h2 class="eslo">RESCATE </h2> 
        <H5 class="etapa"> ETAPA UNO</H5>
        <ul class="rescates"></ul>
        <li class="linea2"></li>
        <br>
        <p class="primera">Rescatamos perros en situacion de peligro y/o abandono. Los rehabilitamos y</p> 
        <p class="segunda">los preparamos para buscarles un hogar.</p>
        <img class="provar_img" src="{% static 'core/img/rescate.jpg' %}" alt="{% static 'core/img/rescate.jpg' %}">            
    </ul>
    </div>

    <div class="diseño3">
        <ul class="perroUL">
            <img class="comidaPerro" src="{% static 'core/img/crowfunding.jpg' %}" alt="{% static 'core/img/crowfunding.jpg' %}">
            <h2 class="comidaing">CROWDFUNDING</h2>
            <h5 class="Financiamiento">FINANCIAMIENTO</h5>
            <li class="linea1"></li>
            <p class="primera_2">Sigue nuestras redes sociales para informarte acerca de las diversas campañas y </p> 
            <p class="segunda_2">actividades que realizamos para obtener financiamiento para seguir ayudando.</p>
            <br>
            <table >
                <tr>
                    <th class="Campañas">Campañas</th>
                </tr>
            </table>
        </ul>
    </div>

       
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<div class="galeriaa">
    <a data-fancybox="gallery" href="{% static 'core/img/Oso.jpg' %}"><img class="oso" src="{% static 'core/img/Oso.jpg' %}" alt="{% static 'core/img/Oso.jpg' %}">
    <a data-fancybox="gallery" href="{% static 'core/img/Bigotes.jpg' %}"><img class="bigote" src="{% static 'core/img/Bigotes.jpg' %}" alt="{% static 'core/img/Bigotes.jpg' %}">
    <a data-fancybox="gallery" href="{% static 'core/img/Chocolate.jpg' %}"><img class="choco" src="{% static 'core/img/Chocolate.jpg' %}" alt="{% static 'core/img/Chocolate.jpg' %}">
    <a data-fancybox="gallery" href="{% static 'core/img/Maya.jpg' %}"> <img class="maya" src="{% static 'core/img/Maya.jpg' %}" alt="{% static 'core/img/Maya.jpg' %}">
    <a data-fancybox="gallery" href="{% static 'core/img/Luna.jpg' %}"><img class="luna" src="{% static 'core/img/Luna.jpg' %}" alt="{% static 'core/img/Luna.jpg' %}">
    <a data-fancybox="gallery" href="{% static 'core/img/Wifi.jpg' %}"> <img class="wifi" src="{% static 'core/img/Wifi.jpg' %}" alt="{% static 'core/img/Wifi.jpg' %}">
    <a data-fancybox="gallery" href="{% static 'core/img/Pexel.jpg' %}"><img class="pexel" src="{% static 'core/img/Pexel.jpg' %}" alt="{% static 'core/img/Pexel.jpg' %}">

    
</div>

<footer>
    
        <br>
        <h6 class="letras">Desarrollo Web y Mobile</h6>
     
     </footer>
{% endblock contenido %}
  

